body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('@/assets/bubbles-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.app {
  position: relative;
  z-index: 2;
}
