* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
